.markdown {
  font-size: 1rem;
  line-height: 1.8;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin: 2rem 0;
}

.markdown h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 1.375;
}

.markdown h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.375;
}