html,
body {
  --link-bg: #e2e2e2;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  background: linear-gradient(to bottom, transparent 0%, transparent 60%, var(--link-bg) 60%, var(--link-bg) 100%);
  text-decoration: none;
  color: inherit;
  transition: background 0.3s;
}

a:hover {
  background: linear-gradient(to bottom, transparent 0%, transparent 0%, var(--link-bg) 0%, var(--link-bg) 100%);
}

h2, h3 {
  font-family: "freight-display-pro", serif;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    --link-bg: #006241;
    color: #c9d1d9;
    background: #0d1117;
  }
}
